{# templates/figure/new.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Créer une Nouvelle Figure{% endblock %}

{% block body %}
    <div class="main-content">
        <h1>Créer une Nouvelle Figure</h1>
        
        {# Formulaire de création de figure #}
        {{ form_start(form, {'attr': {'class': 'form', 'enctype': 'multipart/form-data'}}) }}

            {# Champ pour le nom de la figure #}
            {{ form_label(form.nom, 'Nom de la figure', {'label_attr': {'class': 'form__label'}}) }}
            {{ form_widget(form.nom, {'attr': {'class': 'form__input'}}) }}
            {{ form_errors(form.nom) }}

            {# Champ pour la description de la figure #}
            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form__label'}}) }}
            {{ form_widget(form.description, {'attr': {'class': 'form__textarea'}}) }}
            {{ form_errors(form.description) }}

            {# Champ pour sélectionner la catégorie de la figure #}
            {{ form_label(form.categories, 'Catégorie', {'label_attr': {'class': 'form__label'}}) }}
            {{ form_widget(form.categories, {'attr': {'class': 'form__input'}}) }}
            {{ form_errors(form.categories) }}

            {# Champ pour ajouter des médias (images ou vidéos) #}
            {{ form_label(form.media, 'Médias', {'label_attr': {'class': 'form__label'}}) }}
            {{ form_widget(form.media, {'attr': {'class': 'form__input', 'id': 'media-upload', 'multiple': 'multiple'}}) }}
            {{ form_errors(form.media) }}
     
            {# Zone de prévisualisation des fichiers sélectionnés #}
            <h2>Médias Sélectionnés</h2>
            <div id="media-preview" class="media-gallery"></div>
            
            {# Bouton de soumission du formulaire #}
            <button type="submit" class="button">Créer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
